@media (max-resolution: 500dpi) {
.aboutUsImage {
    max-width: 25%;
    border-radius: 5%;
    max-height: 20%;
  }
}

h1{
    color:blue;
}

p{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 19px;
}

